.BurgerIngredients {
  overflow: "hidden";
  max-width: 600px;
}

.BurgerIngredients__tab {
  display: flex;
}

.burgerItem {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  max-width: 272px;
  position: relative;
  cursor: pointer;
}

.burgerItem:hover {
  opacity: 0.6;
  transition: all 0.2s linear;
}

.burgerItem__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
}

.BurgerIngredients__load {
  font-size: 32px;
}
