.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1c1c21;
}

.headerButton {
  display: flex;
  flex-direction: row;
}

.headerButton__content {
  display: flex;
}
