.header {
  width: 100%;
  background-color: #1c1c21;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1240px;
  margin: 0 auto;
}

.headerButton {
  display: flex;
  flex-direction: row;
}

.headerButton__content {
  border: none;
  display: flex;
  align-items: center;
  background: transparent;
  color: #f2f2f3;
  text-decoration: none;
}

.headerButton__content {
  cursor: default;
}

.active:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.2s linear;
}

.logo:hover {
  cursor: pointer;
}
