.BurgerConstructor {
  width: 600px;
}

.BurgerConstructor__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.BurgerConstructor__listItem {
  display: grid;
  grid-template-columns: 1fr 536px;
  justify-items: stretch;
  align-items: center;
  row-gap: 16px;
}

.BurgerConstructor__listItem_main:last-child {
  margin-bottom: 0;
}

.BurgerConstructor__result {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.BurgerConstructor__totalPrice {
  margin-right: 10px;
}

.BurgerConstructor__element {
  width: 536px;
  height: 80px;
  border-radius: 40px;
  background: #2f2f37;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BurgerConstructor__element_top {
  border-radius: 88px 88px 40px 40px;
}

.BurgerConstructor__element_bottom {
  border-radius: 40px 40px 88px 88px;
}
