.os-theme-light.os-theme-light-edgy
  > .os-scrollbar
  > .os-scrollbar-track
  > .os-scrollbar-handle {
  background: #8585ad;
  border-radius: 0;
}

.limited-handles
  > .os-scrollbar-vertical
  > .os-scrollbar-track
  > .os-scrollbar-handle {
  min-height: 63%;
  width: 8px;
}
